[

  ;; attributes partition
 {:db/id #db/id[:db.part/db]
  :db/ident :attributes
  :db.install/_partition :db.part/db}

  ;; name

 {:db/id #db/id[:db.part/db]
  :db/ident :attribute/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

  ;; type
  
 {:db/id #db/id[:db.part/db]
  :db/ident :attribute/type
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

  ;; position

 {:db/id #db/id[:db.part/db]
  :db/ident :attribute.position/x
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :attribute.position/y
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 ]